<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sending" value="sendingmails" />
  </appSettings>
  <system.net>

        <mailSettings>
            <smtp from="merisahakyan1@gmail.com" deliveryMethod="Network">
                <network 
                    defaultCredentials="false" 
                    host="smtp.sendgrid.net" 
                    port="587" 
                    password="p42Zmx39" 
                    userName="sahakyan.meri"
                    />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
