<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="sahakyan-m15@mail.ru"  >
        <network
          
          host="smtp.mail.ru"
          port="587"          
          password="merishok975"
          defaultCredentials="true"
        />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
